# Sistema operativo
/tmp
/.DS_Store
.localized/
*~

# Editores de texto
.idea/
*.swp
*.DS_Store
.vscode/
# Ignora los archivos de configuración de VS Code, excepto settings.json
.vscode/settings.json

# Compiladores y herramientas
build/
dist/
.tox/
.eggs/
*.egg-info/
env/
venv/
include/
lib/
local/
*.pyc
*.pyo
__pycache__/
.pytest_cache/
CMakeFiles/
CMakeCache.txt
Makefile
*.o
*.obj
*.[a-zA-Z0-9]+

# Herramientas de control de versiones
.git/
.hg/
.svn/

# Bases de datos
*.sqlite3
*.db

# Archivos temporales y logs
*.log
npm-debug.log*
yarn-error.log*

# Archivos de configuración específicos del sistema
.env*
config.py
settings.py
CMakeLists.txt

# Archivos de caché
*.cache
